{% extends 'base.html' %}
{% load static %}
{% block titulo %} {{ coment }} {% endblock %}
{% block background %}background-image: url('/static/assets/img/about-bg.jpg'){% endblock %}">
    {% block contheader %}
        <div class="page-heading">
            <h1>{{ coment }}</h1>
            <span class="subheading">Notícia {{ coment.new }}</span>
        </div>
    {% endblock %}
    {% block conteudo %}
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if user.is_authenticated %}
                        <form method="post" class="form">
                            {% csrf_token %}
                            <h4>Deixe seu Comentário:</h4>
                            <div>{{ form.corpo }}</div>
                            <input type="submit" class="btn btn-primary" value="Salvar">
                        </form>
                        {% else %}
                        <h3 class="alert">Disponível apenas para usuários autenticados</h3>
                        <p>Por favor faça login ou cadastre-se</p>
                        <p>
                            <a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
{% endblock %}